-var sec_features__item_titles = {"icon1": "Upload","icon2": "Profile Page", "icon3": "Connect Chat", "icon4": "Easy Settings", "icon5": "Fast Location", "icon6": "Profile Page"}
-var sec_features__item_text = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia, aspernatur, ad quaerat ipsum nihil quod iste asperiores doloribus dolorum possimus eum beatae, voluptatibus dolores velit recusandae voluptate libero dicta."
-var lhost = "http://localhost:3000"
-var topmenu_left =["Home", "Features", "Coutdown"]
-var topmenu_right = ["Pricing", "Testimonials", "Contact"]

mixin menu(link, text)
  a.menu-item(href=link)
    |#{text}

mixin item(title, text, icon_class)
  section.sec-features__item.icon(class=icon_class)
    div.wrap-item
      h1.sec-features__item-title #{title}
      p.sec-features__item-text #{text}


mixin sec-main-title(color_class, sec_name_title)
  div(class="sec-desc-wrapper__"+color_class)
    h1.sec__title #{sec_name_title}
    p.sec__title-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.