mixin menu(link, text)
  a.menu-item(href=link)
    |#{text}

mixin item(title, text, icon_true)
  section.sec-features__item
    div.icons(class=icon_true)
    div.wrap-item
      h1.sec-features__item-title #{title}
      p.sec-features__item-text #{text}