mixin menu(link, text)
  a.menu-item(href=link)
    |#{text}

mixin item(title, text, icon_class)
  section.sec-features__item.icon(class=icon_class)    
    div.wrap-item
      h1.sec-features__item-title #{title}
      p.sec-features__item-text #{text}